@model MrCMS.Web.Apps.Core.Areas.Admin.Models.Widgets.CurrentPageSubNavigationModel
<div class="form-check mb-3">
    @Html.LabelFor(x => x.ShowNameAsTitle)
    @Html.CheckBoxFor(x => x.ShowNameAsTitle)
</div>