@model MrCMS.Web.Admin.Models.RecurringJobs.SetupRecurringJobModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm("Trigger", "RecurringJob", new { Model.Id }, FormMethod.Post))
{
    <fieldset>
        <legend>
            @await Html.Resource("Admin Trigger Recurring Job", "Trigger Recurring Job") - @Model.Id
            <span class="btn-group pull-right">
                <input type="submit" class="btn-primary btn" value="@await Html.Resource("Trigger", configureOptions => configureOptions.DisableInlineEditing())"/>
            </span>
        </legend>
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info">
                    @await Html.Resource("Admin Trigger Task Message", "Click 'Trigger' to trigger this recurring job now.")
                </div>
            </div>
        </div>
    </fieldset>
}