@model MrCMS.Web.Apps.Core.Entities.ContentBlocks.Text

<div class="p-3 @($"bg-{Model.BackgroundColour.ToString().ToLower()}")">
    @if (!string.IsNullOrWhiteSpace(Model.Heading))
    {
        <h2>
            @Model.Heading
        </h2>
    }
    @Html.Raw(Model.Subtext)
</div>